<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <br />
      <br />
      <br />
      <i class="fa-brands fa-square-facebook" style="font-size: 1.5rem"></i>
      <i class="fa-brands fa-square-instagram" style="font-size: 1.5rem"></i>
      <i class="fa-brands fa-linkedin" style="font-size: 1.5rem"></i>
      <i class="fa-brands fa-square-twitter" style="font-size: 1.5rem"></i>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>

    <div class="f-info-links text-center">
      <a href="/Privacy"> <u>Privacy</u></a> &nbsp;&nbsp;
      <a href="/Terms"><u>Terms </u></a>
    </div>
  </div>
</footer>
