<% layout ("/layouts/boilerplate") -%> 

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
    color: blue;
  }
  
  .filter p {
    font-size: 0.8rem;
  }
  
  </style>
<body class="body-padding">
  <!-- <h3>All Listings</h3> -->
  <!--<form method="GET" action="/listings/new">
    <button>Create new listing</button>
  </form>
-->
<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </div>

  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain-sun"></i></i></div>
    <p>Mountain Views</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-tent"></i></div>
    <p>Camping</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Nature</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>Farms</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Domes</p>
  </div>
  
  <div class="filter">
    <div><i class="fa-solid fa-otter"></i></div>
    <p>Safari</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-water-ladder"></i></div>
    <p>Pools</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
  </div>
  </div>


  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
    <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id%>" class="listing-link">
      <div class="card col listing-card" style="width: 17 rem">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br />
            &#8377; <%= listing.price.toLocaleString("en-IN")%>/night
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
